{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- page to view traveller's profile photo, name, bio, favourite country and country that is top of their wishlist to visit -->

<div class="container mt-5">
    <h2>{{ user.username }}'s Profile</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/default_profile.png' %}" alt="Profile Photo" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-8">
            <h2>About {{ user.username }}</h2>
            <p>{{ user.bio }}</p>
            <h3>What's your favourite country that you have visited?</h3>
            <p>{{ traveller.fav_country }}</p>
            <h3>Which country is top of your wishlist to visit?</h3>
            <p>{{ traveller.wishlist_country }}</p>
            <p>ADD EDIT PROFILE BUTTON</p>

            
        </div>
    </div>
</div>

{% endblock %}