/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* CSS Variables */
:root {   
    --primary-font: "Quicksand", sans-serif;    
    --primary-color: #ECF7F8; /* azure */
    --secondary-color: #023E8A; /* marian blue */
    --tertiary-color: #0077B6; /* honolulu blue */    
    --quaternary-color: #008099; /* blue Munsell */
}

body {
    font-family: var(--primary-font);     
}

.main-bg {
    background-color: var(--primary-color);   
}

/* Card Settings */
.card {
    border: none;
    background-color: transparent;
}

.card-text,
.card-title,
.card-body {
    font-family: var(--primary-font);  
}

.image-container {
    position: relative;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--quaternary-color);
}

.scale {
    width: 100%;
    height: auto;
}

.country {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/* Link Settings */
.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.page-link {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Post Settings */
.post-title {
    margin-top: 2%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* Button Settings */
.btn-signup,
.btn-edit {
    background-color: var(--secondary-color);
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #2F5D3A;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

/* Link Settings */
.link {
    color: var(--tertiary-color);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--quaternary-color);
    text-decoration: underline;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: #E84610;
}

/* Navbar styling */
.navbar {
    background-color: var(--tertiary-color);    
}

.navbar .nav-link{
    color: white !important;
}

.navbar .nav-link:hover {
    color: var(--quaternary-color) !important;
}

.navbar .navbar-text {
    color: white !important;
}

.navbar .nav-link.active {
    color: black !important;
    /*text-decoration: underline !important;*/
}

/* Footer styling */
.footer {
    color: white;
    background-color: var(--tertiary-color);
}

.social_media_links{
    color: white;
    text-decoration: none;
}
.social_media_links:hover{
    color: var(--quaternary-color);
}

/* Custom message styling */
.alert.success {
    color: white;
    background-color: var(--tertiary-color);
    font-weight: 500;
    border-radius: 8px;
    margin-top: 2%;
}